/CMakeLists.txt.user
/build*
/strategy/typescript/**/built
/src/html/
Makefile
error.html
*.swp
/libs/v8/depot_tools
/libs/v8/v8
/libs/v8/.gclient
/libs/v8/.gclient_entries
node_modules/
/config/gamecontroller/data/
/strategy/typescript/base/protobuf.ts
