/CMakeLists.txt.user
/build*
/strategy/typescript/*/built
/src/html/
Makefile
/strategy/lua/marvin/learning/parameters/*
error.html
*.swp
/libs/v8/depot_tools
/libs/v8/v8
/libs/v8/.gclient
/libs/v8/.gclient_entries
